
img{
    max-width: 100%;
}

a{
    color: #333;
    transition: color 0.2s;
}
.container{
    max-width: 1200px;
}
nav{
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}
nav ul a{
    color: #333;
    text-transform: uppercase;
}
nav .button-collapse{
    color: #333;
}
nav .brand-logo{
    padding-top: .3em;
    padding-bottom: .3em;
}
nav .brand-logo img{
    height: 100%;
}
nav ul a:hover{
    background: none;
}
nav,nav *{
    -webkit-transition: height .2s;
    -moz-transition: height .2s;
    -ms-transition: height .2s;
    -o-transition: height .2s;
    transition: height .2s;
}
#sidenav-overlay {
    z-index: 996;
}
header{
    background: #FFF;
}
header .container{
    box-shadow: none;
    border: none;
}
.wrapper{
    background: #eee;
}
a:hover{
    color: #dc5034;
}
.articles{

}
.articles .article{
    background: #fff;
    margin-top: 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}
.article .article-title{
    font-size: 2em;
    color: #333;
}
.article .article-title:hover{
    color: #dc5034;
}
.article .article-info{
    padding-top: 1em;
    padding-bottom: 1em;
}
.article img{
    width: 100%;
}
.article .s6 {
    font-size: .9em;
    font-style: italic;
    color: #757575;
    padding: 0;
}
.article .article-info p{
    color: #757575;
}
.article .article-info .read-more{
    color: #dc5034;
    font-style: normal;
}
.article .article-info .read-more:hover{
    color: #dc5034;
}

/*style artile 2*/

.article-inline .s12 {
    font-size: .9em;
    font-style: normal;
    padding: 1rem;
}

.article-inline .article-footer .s6 {
    padding: 0;
}
/*style artile 2 end */


#right-side-bar{
    /*background: red;*/
}
#right-side-bar h3{
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}
#right-side-bar .sidebar-block{
    background: #fff;
    padding: 1em;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}
#right-side-bar .sidebar-block .phone-number{
    width: 100%;
    /*background: #dc5034;*/
}

.new-article{
    margin-bottom: 1.3em;
}
.page-footer{
    background: #fff;
    padding: 0;
}
.page-footer .footer-copyright{
    background-color: #fff;
    color: #666;
}
.page-footer .footer-copyright a{
    color: #dc5034;
    font-weight: bold;
}




/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}


/* Small Devices, Tablets */
@media only screen and (min-width : 601px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 601px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
    .article-inline .s12 {
        padding: 0;
    }
    .article-inline .article-info {
        padding: 0.75rem;
    }
    .scroll-down {
        line-height: 40px !important;
        height: 40px !important;
    }
    .scroll-down .button-collapse,.scroll-down .button-collapse i{
        height: 40px;
        line-height: 40px;
    }
    .scroll-down .side-nav li{
        line-height: 1;
    }
    .scroll-down .brand-logo{
        padding: 5px;
    }
}